
<div class="split-background">
    <div class="left-pane">
      <div class="max-width-container">
        <h2 class="font-style">{{ recipe?.title }}</h2>
        <div class="cover-photo">
            <img [src]="recipe?.image" alt="{{ recipe?.title }}" class="recipe-image" />
        </div>
        <h2 class="font-style">
            <i class="material-icons">schedule</i>  {{ recipe?.readyInMinutes }} 
          </h2>
          <h2 class="font-style">
            <i class="material-icons">restaurant</i>  {{ recipe?.servings }}
          </h2>
      </div>
    </div>
  
    <div class="right-pane">
      <div class="max-width-container">
        <div class="content-container">
          <div class="column">
            <h3>Ingredients</h3>
            <ul>
              <li *ngFor="let ingredient of recipe?.extendedIngredients">
                {{ ingredient.name }}: {{ ingredient.measures.metric.amount }} {{ ingredient.measures.metric.unitShort }}
              </li>
            </ul>
        
            <h3>Description</h3>
            <p>{{ recipe?.instructions}}</p>
           
           
          </div>
        </div>
        <button mat-icon-button
        color="white"
        class="heart-button"
        aria-label="Add to favorites"
        [class.favorited]="recipe?.isFavorite"
        (click)="addToFavorites()">
  <mat-icon>{{ recipe?.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
</button>
      </div>
      
    </div>
    
  </div>
  