
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

input {
    border: 1px solid #000; /* Set the desired color (black in this example) */
  }

  .square-container {
    display:block;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    // height: 100vh; 
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 30px;
    margin-bottom: 150px;
    flex-wrap: wrap;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -15px;
      margin-left: -15px;
      gap: 10px;
     
    }

    .title {
      margin-top:50px;
      font-size: 56px;
      font-weight: bolder;
      text-align: center;
      font-family: 'Moirai One', sans-serif;
    }
    
    .line {
      position: relative;
      height: 3px;
      background-color: #424242;
      margin-top: 10px; 
    }
    
    .custom-line {
      width: 50px; 
      left: 50%;
      transform: translateX(-50%);
    }