
.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .app-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1;
  }
  
  .search-field {
    width: 300px;
    margin-right: 16px;
  }
  
  .active {
    color: white;
    font-weight: bold;
  }
  