

<div class="carousel"> 
  <app-carousel></app-carousel>
</div>
<div class="mat-grid"> 
  <mat-grid-list [cols]="getGridCols()" rowHeight="400px">

    <mat-grid-tile [routerLink]="['/meal-plan-day']" [queryParams]="{ date: todayDate }">
      <img src="https://img.freepik.com/premium-vector/healthy-eating-isolated-cartoon-vector-illustration-set_107173-32612.jpg"  alt="Meal Plan Day Image">
      <mat-grid-tile-footer>
        <h3>GET MEAL PLAN DAY  </h3>
      </mat-grid-tile-footer>
    </mat-grid-tile>




    <mat-grid-tile [routerLink]="['/comparable-products']">
      <img src="https://media.istockphoto.com/id/1363367259/vector/question-mark-made-of-fruits-and-vegetables-vector-cartoon-illustration.jpg?s=612x612&w=0&k=20&c=hrNUoSFt7dN3TgyRw1GsiyPmLNSbMCC6OV0a7vNynv0=" alt="Product Information Image">
      <mat-grid-tile-footer>
        <h3>  SEARCH PRODUCTS BY INGREDIENTS</h3>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile [routerLink]="['/product-information']">
      <img src="https://www.shutterstock.com/image-vector/healthy-unhealthy-food-question-mark-260nw-1978956905.jpg" alt="Comparable Products Image">
      <mat-grid-tile-footer>
        <h3>COMPARABLE PRODUCTS</h3>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  </div>


<div class="square-container view-point">
  <div class="row">
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'burger',}"> 
      <div class="wrap-element"> 
      <span class="material-icons">
      lunch_dining
      </span>
      <div class="icon-name">Burger's</div>
      <div class="recipe-count">56 Recipes</div>
    </div>
    </div>
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'pizza',}">
      <div class="wrap-element"> 
      <span class="material-icons">
      local_pizza
      </span> 
      <p class="icon-name">Pizza's</p>
      <div class="recipe-count">56 Recipes</div>
      </div>
    </div>
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'cake',}">
      <div class="wrap-element"> 
       <span class="material-icons"> cake </span>
        <div class="icon-name">Cake's</div>
        <div class="recipe-count">56 Recipes</div>
       </div>
      </div>
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'pasta',}">  
      <div class="wrap-element"> 
      <span class="material-icons"> dinner_dining </span>
       <div class="icon-name">Pasta</div>
       <div class="recipe-count">56 Recipes</div>
       </div>
      </div>
  </div>
  <div class="row">
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'vegan',}">  
      <div class="wrap-element"> 
        <span class="material-icons">
          spa
          </span>
       <div class="icon-name">Vegan</div>
       <div class="recipe-count">56 Recipes</div>
       </div>
      </div>
      <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'breakfast',}">  
        <div class="wrap-element"> 
          <span class="material-icons">
            bakery_dining
            </span>
         <div class="icon-name">Breakfast</div>
         <div class="recipe-count">56 Recipes</div>
         </div>
        </div>
        <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'shakes',}">  
          <div class="wrap-element"> 
            <span class="material-icons">
              free_breakfast
              </span>
           <div class="icon-name">Shakes</div>
           <div class="recipe-count">56 Recipes</div>
           </div>
          </div>
        <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'healthy',}">  
          <div class="wrap-element"> 
            <span class="material-icons">
              food_bank
              </span>
           <div class="icon-name">Healthy</div>
           <div class="recipe-count">56 Recipes</div>
           </div>
          </div>
    
  </div>
</div>

<!-- hover -->



<div class="card-container container"> 
  <h1 class="title">FAVORITES </h1>
  <div *ngIf="favorite" >
  <div class="row">
  <div class="card-hover col-md-4" *ngFor="let recipe of favoriteRecipes.slice(0, 3)" >
   <div class="card-hover__content">
     <h3 class="card-hover__title">
       {{recipe.title}}
     </h3>
     <p class="card-hover__text">{{sanitizeInstructions(recipe.instructions) | slice:0:100}}...</p>
     <a  (click)="getRecipeId(recipe.id)" class="card-hover__link">
       <span>view more</span>
       <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
         <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
       </svg>       
     </a>
   </div>
   <div class="card-hover__extra">

   </div>
   <img *ngIf="recipe.image" [src]="recipe.image"  alt="{{ recipe.title }}">
   <img *ngIf="!recipe.image" src="https://images.unsplash.com/photo-1586511925558-a4c6376fe65f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=60"  alt="{{ recipe.title }}">
 </div>
</div>

<h3 class="titles" [routerLink]="['/foodItems']" [queryParams]="{ category: 'favourite-recipes' }">
  view all favorites
  <svg fill="none" viewBox="0 0 16 16" width="16" height="13" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M8 2l6 6-6 6M2 8h12"></path>
  </svg>
</h3>
</div>
<div *ngIf="!favorite">
  <!-- Display this content when favorite is false -->
  <p>No Favorite Recipes</p>
</div>
</div>


<div class="jokes-background">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12"> 
        <app-jokes-dialog></app-jokes-dialog>
      </div>
    </div>
  </div>
</div>

