
<div class="main-content">
    <div class="image-container image">
      <img  src="https://assets-global.website-files.com/5e465eaf479e4cc0ef41f077/64768bc70e25d705640f4dbd_Full%20Hero%20-%20Salads.webp" alt="Background Image" class="transparent-image">
      <!-- <div class="search-overlay">
        <div class="search-input">
          <input type="text" placeholder="Search recipe...">
          <i class="fa fa-search"></i>
        </div>
        <div class="search-line"></div>
      </div> -->
      <h1 class="search-overlay"> FoodooF</h1>
    </div>
  </div> 
<br>
<br>
<br>



<div class="square-container">
  <div class="row">
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'burger',}"> 
      <div class="wrap-element"> 
      <span class="material-icons">
      lunch_dining
      </span>
      <div class="icon-name">Burger's</div>
      <div class="recipe-count">56 Recipes</div>
    </div>
    </div>
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'pizza',}">
      <div class="wrap-element"> 
      <span class="material-icons">
      local_pizza
      </span> 
      <p class="icon-name">Pizza's</p>
      <div class="recipe-count">56 Recipes</div>
      </div>
    </div>
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'cake',}">
      <div class="wrap-element"> 
       <span class="material-icons"> cake </span>
        <div class="icon-name">Cake's</div>
        <div class="recipe-count">56 Recipes</div>
       </div>
      </div>
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'pasta',}">  
      <div class="wrap-element"> 
      <span class="material-icons"> dinner_dining </span>
       <div class="icon-name">Pasta</div>
       <div class="recipe-count">56 Recipes</div>
       </div>
      </div>
  </div>
  <div class="row">
    <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'vegan',}">  
      <div class="wrap-element"> 
        <span class="material-icons">
          spa
          </span>
       <div class="icon-name">Vegan</div>
       <div class="recipe-count">56 Recipes</div>
       </div>
      </div>
      <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'breakfast',}">  
        <div class="wrap-element"> 
          <span class="material-icons">
            bakery_dining
            </span>
         <div class="icon-name">Breakfast</div>
         <div class="recipe-count">56 Recipes</div>
         </div>
        </div>
        <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'shakes',}">  
          <div class="wrap-element"> 
            <span class="material-icons">
              free_breakfast
              </span>
           <div class="icon-name">Shakes</div>
           <div class="recipe-count">56 Recipes</div>
           </div>
          </div>
        <div class="square" [routerLink]="['/foodItems']" [queryParams]="{ category: 'healthy',}">  
          <div class="wrap-element"> 
            <span class="material-icons">
              food_bank
              </span>
           <div class="icon-name">Healthy</div>
           <div class="recipe-count">56 Recipes</div>
           </div>
          </div>
    
  </div>
</div>










    <div class="container">
        <div class="row">
          <div class="col-md-4 text-center grow" [routerLink]="['/comparable-products']">
            <img src="https://cdn1.vectorstock.com/i/1000x1000/14/45/healthy-food-with-nutritional-facts-vector-21371445.jpg" alt="Product Information Image">
            <p class="image-text">GET PRODUCT INFORMATION</p>   
          </div>
          <div class="col-md-4 text-center grow" [routerLink]="['/meal-plan-day']"   [queryParams]="{ date:  todayDate}">
            <img src="https://wonderfeetcreativeacademy.com/wp-content/uploads/2019/03/Healthy-Meal-Plan-for-kids.jpg" alt="Meal Plan Day Image" >
            <p  class="image-text ">GET MEAL PLAN DAY</p>
          </div>
          <div class="col-md-4 text-center grow " [routerLink]="['/product-information']" >
             <img   src="https://pbs.twimg.com/media/Ex-Oo8fUYAIPQya.png"alt="Comparable Products Image" class="">
             <p class="image-text ">COMPARABLE PRODUCTS</p>
          </div>
       
        </div>
      </div>
  
      
     
  <div class="max-width-container" style="max-width: 1200px; margin: 0 auto;">
        <mat-grid-list cols="5" rowHeight="250px">
      <mat-grid-tile *ngFor="let recipe of randomRecipes">
        <div class="recipe-card" matRipple>
          <img [src]="recipe.image" alt="{{ recipe.title }}" class="recipe-image" />
          <div class="overlay">
            <h4 class="recipe-title">{{ recipe.title }}</h4>
            <button mat-button (click)="getRecipeId(recipe.id)" class="view-more-btn" >View More</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

