
.image-container {
    position: relative;
    width: 100%;
    height: calc(100vh * (2 / 3)); 
    overflow: hidden; 
    
  }
  
  .transparent-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  
  .transparent-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    
  }
  
  
  .image:before,.image:after{
    content:'';
    position:absolute;
    left:5%;
    opacity:0.5;
  }
  .image:before{
    top:0;
    width:20%;
    height:100%;
    -moz-box-shadow: inset 0px 850px 500px -500px #000;
    -webkit-box-shadow: inset 0px 850px 500px -500px #000;
    -o-box-shadow: inset 0px 850px 500px -500px #000;
    box-shadow: inset 0px 850px 500px -500px #000;
  }
  
  
  
  
  
  /* SEARCH INPUT */
  
  
  .search-overlay {
    position: absolute;
    top: 25%; /* Adjust the position from the top */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 100%;
  }
  
  .search-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40%; 
    
  }
  
  .search-input input[type="text"] {
    width: 80%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
  }
  
  .search-input i.fa {
    color: #333;
    cursor: pointer;
  }
  
  .search-line {
    width: 50%;
    height: 1px;
    background-color: #493737;
    margin-top: 10px; 
    margin-left: 500px; 
  
  }
  img {
    width: 140px;
    height: 140px;
    border-radius: 80px;
    margin-bottom: 35px;
  }
  
  .image-text {
    font-size: 18px; 
    font-weight: bold; 
    font-family:'Times New Roman', Times, serif;
     
  }
  .grow:hover {
    transform: scale(1.10); 
    transition: transform 0.5s ease; 
  }


  .max-width-container {
    max-width: 1200px; /* Set your desired maximum width */
    margin: 0 auto; /* Center the container horizontally */
  }

  .container {
    width: 80%;
    margin: auto;
  }
  
  .recipe-card {
    position: relative;
    width: calc(100% - 20px);
    height: 230px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .recipe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .recipe-card:hover .overlay {
    opacity: 1;
  }
  
  .recipe-title {
    margin: 0;
    color: white;
    font-size: 1rem;
  }
  
  .view-more-btn {
    margin-top: 10px;
    color: white;
  }
  


  // NEWW 

  .square-container {
    display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  padding-right: 15px;
  padding-left: 15px;
  margin-top: -150px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
    gap: 10px;
  }
  
  .square {
    width: 240px;
    height: 240px;
    margin: 8px;
    background-color: #f7f4ee;
    border-radius: 3px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
  }
  .material-icons {
    font-size: 60px; 
    color: #85b72c;
  }
  .icon-name {
    margin-top: 20px; 
    font-size: larger;
    font-weight: 500;
  }
  .recipe-count {
    margin-top: 25px;
    color: #888; 
    font-size: 14px; 
    border: 1px solid  #f7f4ee ;
    padding: 2px 10px;
    border-radius: 8px;
    background-color: #dde6ce;
    color:#85b72c;
    font-size: 12px ;
  }

  .wrap-element:hover{
    background-color: #99c946;
    width: 85%;  
    height: 85%;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .6s;
  }
  .wrap-element:hover .material-icons {
    color: white; 
  }
  .wrap-element:hover .recipe-count {
    background-color: white; 
  }

  .wrap-element:hover .icon-name {
    color: white; 
  }