<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let item of carouselItems">
    <ng-template carouselSlide>
      <div class="carousel-item">
        <img class="carousel-image" [src]="item.src" alt="">
        <div class="carousel-caption">
          <div class="logo"></div>
          <h2>Foodie</h2>
          <p>On this page, you can find a wide array of delicious recipes, creative ideas, and meal plans tailored for you. We're here to help you develop healthy habits and keep you on track for a balanced lifestyle.</p>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>