
  <div class="container">
    <xng-breadcrumb></xng-breadcrumb>
 
  </div>
  <div>
    <h2 class="title " >{{category}}</h2>
    <div class="line custom-line"></div>
    
  </div>
  <div>
  <div class="square-container">
    <div class="row"> 
  <div class="recipe-card"   *ngFor="let recipe of recipes.slice(startIndex,endIndex)">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
   </div>
  </div>
  </div>
<div> 
 
<mat-paginator [length]="recipes.length"
    [pageSize]="24"
    [pageSizeOptions]="[24,36,42]"
    (page)="OnPageChange($event)"
      ></mat-paginator>
</div>