 <div>
    <app-carousel></app-carousel>
  </div>
  <div>
  <div class="square-container">
    <div class="row"> 
  <div class="recipe-card"   *ngFor="let recipe of recipes.slice(startIndex,endIndex)">
    <div (click)="getRecipeInformation(recipe.id)" class="recipe-card__cover">
      <div class="recipe-card__img">
        <img
          [src]="recipe.image" alt="{{ recipe.title }}">
      </div>
      <div class="recipe-card__cover-details">
        <div id="recipe-card__duration" class="recipe-card__duration">
          <p ><span>view recipe</span></p>
        </div>
        <div id="recipe-card__info" class="recipe-card__info">
          <div class="recipe-card__title">
            <h1>{{ recipe.title }}</h1>
          </div> 
        </div>
      </div>
    </div>
   </div>
  </div>
  </div>
<div> 
<mat-paginator [length]="recipes.length"
    [pageSize]="24"
    [pageSizeOptions]="[24,36,42]"
    (page)="OnPageChange($event)"
      ></mat-paginator>
</div>