@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
.background-img {

  background: #fff;
  font: 13px 'Open Sans', sans-serif;
  color: #222;
  background-image: url(/assets/images/background11.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  
}
.datepicker-container {
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center!important;
  justify-content: center;
  gap: 10px;
  // background-color: #f7f4ee;
  padding-top:100px;
  padding-bottom:30px;
  flex-direction: column;
 
}
.frame-input-fields{
  font-family: Roboto, sans-serif;
  border:3px solid #f7f4ee;  
  padding: 30px 20px 20px;
  border-radius: 8px;
  background-color:rgba(247, 244, 238, 0.7);
  
}
.datepicker-label {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: larger;
  color: #333;
  margin-bottom: 5px;
  
}

.datepicker-input {
  font-family: Roboto, sans-serif;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.not-selected{
  font-family: Roboto, sans-serif;
  font-size: 50px;  
  text-align: center;
  margin-top: 50px; 
  margin-bottom: 50px;
}



  

  
  input[type="date"] {
    font-family: Roboto, sans-serif;
    padding: 12px; 
    font-size: 20px; 
    border-radius: 6px;
    
  }
 
  .mat-grid-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.mat-chip-option{
  padding: 20px;
  flex-direction: column;
  align-items: center;

}

.charts-margins{
 font-size: x-large;
 font-weight: 600;
  max-width: 50%;
  position: relative;
  margin: 0 auto;
  background-color: #f7f4ee;
  border: 3px solid #dde6ce ;
  border-radius: 8px;
  padding-top: 10px;
  margin-bottom: 30px;
  
}

.daily-summary{
  text-align: center;
  font-size: larger;
  font-weight: 500;
}

.title {
  margin-top:50px;
  font-size: 56px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Moirai One', sans-serif;
}


// //MAT CHIP

.centered-chips{
  display: flex;
  justify-content: center;
  // margin-bottom: 130px;
  margin-top: 20px;
  // padding-bottom: 100px;
  
}



///// NEW RECIPE
/// 




.recipe-card-container {
  display: flex;
  justify-content: center;
}



