
<!-- <mat-card class="custom-mat-card"> 
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Joke of the Day</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ joke }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button class="mat-button fixed-button " mat-button (click)="getAnotherJoke()">Get Another Joke</button>

  </mat-card-actions>
</mat-card>  -->
 
<div class="row" >
  <div class="card">
      <h4>Joke of the day</h4>
      <p>{{joke}}</p>
  </div>
</div>
