
  .card {
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
  }
  
  .card h4 {
    font-size: xx-large;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 90%; 
    }
  }