  .card {
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    width: 800px;
   
    background-color: #ffffff;
    padding: 20px;
    margin:0 auto;
    h4 {
      font-size: xx-large;
    }
  }
  

  

  